<nav class="navbar bg-primary">
    <a routerLink="/login" style="color: white;"> 
        <button type="button" class="btn btn-sm" style="margin-right: 2%;">Login</button>
    </a>
    <a routerLink="/wall" style="color: white;">
        <button type="button" class="btn btn-sm" style="margin-right: 78%;" >Calculator</button>
    </a>
    <a routerLink="/login">
        <button type="button" class="btn btn-sm" (click)="this.auth.logOut()">Logout</button>
    </a>
     
   
    
    
    
    
   
</nav>
  
 